@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Asap;
}

section{
    padding:30px;
    background-color: black;
    color: antiquewhite
}

section > h1{
    text-align: center;
    font-size:3em;
}

div#score-board{
    max-width: 600px;
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

img.profile-image{
    width: 100px;
    height: 100px;
}

div#play-Container{
    text-align: center;
    width:100%;
    margin-top:10px;
    padding:10px;
}

button#btnPlay{
    font-size:5em
}

div#action{
    margin-top:30px;
}

div#action > span.option {
    font-size:3em;
    padding: 10px    
}

#computer-action {
    margin-top:30px;

}

#computer-action > span.option {
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    font-size:3em;
    padding: 10px
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f2 {
    -webkit-animation-delay: -0.5s;
}

#f3 {
    -webkit-animation-delay: -0.2s;
}
